.main{
  max-width: 800px;
}
.add_block{
  border: 2.5px dashed #ffb45e;
  height: calc(3rem - 0.6rem);
  border-radius: 2.5rem;
  width: 100%;
  cursor: pointer;
  position: relative;
  color: #ffb45e;
  &:before{
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 2.5rem;
    content: '';
    border: 2.5px solid #ffb45e;
  }
  svg{
    width: 20px;
    height: 20px;
    filter: invert(89%) sepia(10%) saturate(3444%) hue-rotate(318deg) brightness(100%) contrast(103%);
  }
  &:hover{
    transform: scale(1.01);
    border: 2.5px dashed #ffa537;
    color: #ffa537;
    &:before{
      border: 2.5px solid #ffa537;
    }
    svg{
      filter: invert(79%) sepia(7%) saturate(7427%) hue-rotate(331deg) brightness(103%) contrast(101%);
    }
  }
}
.modal_save{
  //margin-bottom: 1rem;
}
.row {
  position: relative;
  height: 3rem;
  color: white;
  cursor: pointer;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(108,117,125);
    background: linear-gradient(90deg, rgba(108,117,125,1) 0%, rgba(128,128,128,1) 100%);
    border-radius: 2rem;
    z-index: -2;
  }
  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2rem;
    z-index: -1;
    background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(108,117,125,1) 100%);
    opacity: 0;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 4px rgba(34, 60, 80, 0.2);
  }
  &:hover{
    transform: scale(1.01) !important;
    &:before{
      opacity: 1;
    }
  }
}
.button_project{
  > svg{
    margin-left: 0.5rem;
  }
}