.back{
  color: white;
  background-color: rgb(108,117,125);
  top: 0.35rem;
  left: 0.35rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  >svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  &:hover{
    transform: scale(1.05);
  }
}
.col{
  min-height: calc(100vh - 10.3rem);
  max-width: 430.5px;
  >.head{
    background-color: rgb(108,117,125);
    color: white;
    border-radius: 1rem;
    height: 1.8rem;
    >h5{
      font-weight: 700;
    }
  }
  >.body{
    margin-top: 0.5rem;
    background-color: rgba(108, 117, 125, 0.16);
    height: 100%;
    border-radius: 1rem;
  }
}
.row_task{
  word-wrap: break-word;
  >div > h2 > button{
    background-color: rgb(108,117,125);
    color: white;
  }
}
.hover_task{
  &:hover{
    //transform: scale(1.02);
  }
}
.body_task{
  div>span{
    color: rgb(108,117,125);
    font-weight: bold;
  }
}

@media (max-width: 1400px) {
  .group_button{
    flex-direction: column;
    >button{
      margin-top: 0.5rem;
    }
  }
}
@media (max-width: 768px) {
  .group_button{
    >button{
      flex-direction: column
    }
  }
}
@media (max-width: 576px) {
  .group_button{
    >button{
      flex-direction: row
    }
  }
}