.body_task{
  div>span{
    color: rgb(108,117,125);
    font-weight: bold;
  }
}
.add_sub{
  color: #ffb45e;
  border-bottom: #ffb45e dashed 1px !important;
  border-top: #ffb45e dashed 1px !important;
  cursor: pointer;
  &:hover{
    color: #ffa537 !important;
    border-bottom: #ffa537 dashed 1px !important;
    border-top: #ffa537 dashed 1px !important;
    background-color: #f8f9fa;
  }
}
.alert{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nameComment{
  width: 30%;
}
.border{
  >div>textarea{
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0 !important;
    &:focus{
      box-shadow: none !important;
    }
  }
}
.bottom{
  border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
  background-color: #dee2e6;
}
@media (max-width: 500px) {
  .col{
    flex-direction: column
  }
}